{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fruits</title>
</head>
<body>

{% block content %}
<h1>Products</h1>
<div class="row">
    {% for product in test %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}title</h5>
                <p class="card-text">{{ product.price }}</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}

</div>


</body>
</html>